.not-only {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
    color: var(--color-light-xl);
}
.point p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--color-dark-s);
    width: 460px;

}
.btn-one a {
    border-radius: 100px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--color-light-3xl);
}
.btn-one {
    border: 1px solid var(--color-primary);
    border-radius: 100px;
    cursor: pointer;
}
.btn-one:hover {
    background-color: var(--color-primary);
    transition: background-color 3s ease;
}