.navbar .nav-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dark-s);
}
.navbar .nav-link:hover {
    color: var(--color-light-s);
    transition: color 3s ease;
}
.navbar .navbar-brand {
    color: var(--color-primary);
    cursor: pointer;
}
.navbar .navbar-brand:hover {
    color: var(--color-primary);
}
/* Hide the default Navbar toggle button */
.navbar-toggler {
    display: none;
  }
  
  
