body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --color-primary: #F1CDB3;
  --color-dark-s: #CDCDCD;
  --color-light-s: #FAFAFA;
  --color-light-xl: #FFFFFF;
  --color-dark-3xl: #292929;
  --color-dark-l: #545454;
  --color-light-l: #F6F6F6;
}
.custom {
  width: 100%;
}
.custom h1 {
  color: var(--color-primary);
  cursor: pointer;
}
.custom h6 {
  color: var(--color-primary);
  cursor: pointer;
}

.custom .nav-link {
  color: var(--color-dark-s);
}
.custom .nav-link:hover {
  color: var(--color-light-s);
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.marg {
  margin: auto;
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
